apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - ../../../argo-apps/base/kube-prometheus-crds-helm.yaml
  - ../../../argo-apps/base/kube-prometheus-helm.yaml
  - ../../../argo-apps/base/grafana-dashboards-app.yaml
  - ../../../argo-apps/base/opentelemetry-operator-helm.yaml
  - ../../../argo-apps/base/prometheus-rules-app.yaml
  - ../../../argo-apps/base/pyroscope-helm.yaml
  - ../../../argo-apps/base/tempo-helm.yaml

  # - ../../../argo-apps/base/otel-metrics-collector-app.yaml
  # - ../../../argo-apps/base/opentelemetry-collector-helm.yaml
  # - ../../../argo-apps/base/postgres-exporter-helm.yaml